header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3a424a;
}

#left-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

#left-header > div {
    font-size: 14px;
    color: white;
}

#right-header {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 3px;
}

#search {
    width: 220px;
    background-color: gray;
    border: none;
    opacity: 0.5;
    border-radius: 5px;
}

#search::placeholder {
    color: white;
}

#signin {
    background-color: #3a424a;
    border: none;
    color: white;
    cursor: pointer;
}

#signin:hover {
    opacity: 0.7;
}

#signup {
    background-color: #3a424a;
    border-color: white;
    color: white;
    border-radius: 7px;
    width: 80px;
    height: 30px;
    position: relative;
    top: 5px;
    cursor: pointer;
}

#signup:hover {
    opacity: 0.7;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3a424a;
    height: 570px;
    gap: 10%;
    position: relative; 
    z-index: -1;
}

#sentence-section {
    width: 50%;
    color: white;
    padding: 20px;
    text-align: left;
    margin-left: 130px;
    margin-bottom: 200px;
}

#top-sentence {
    font-size: 40px;
    font-weight: 50;
    color: white;
    line-height: 1.0;
    margin-left: 100px;
}
#bot-sentence {
    font-size: 15px;
    width: 350px;
    color: white;
    opacity: 0.7;
    margin-left: 100px;
    margin-top: 0%;
    font-weight: 300;
}

#login-section {
    width: 35%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 8px;
    margin-right: 300px;
    display: flex;
    margin-top: 5px;
    align-self: flex-start;
    flex-direction: column
}

#login-section label {
    font-family: 14px;
    font-weight: bold;
    margin-top: 5px;
    padding-bottom: 5px;
}

#login-section input[type='name'], #login-section input[type='password'], #login-section input[type='email'] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

#login-sentence {
    margin-top: 10px;
    font-size: 10px;
    color: gray;
    opacity: 0.8;
    line-height: 1.4;
}

#logbutton {
    margin-top: 15px;
    background-color: #28a745;
    border: none;
    color: white;
    width: 100%;
    padding: 25px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}

#logbutton:hover {
    background-color: #218838;
    opacity: 0.7;
}

#login-bottom-sentence {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #586069;
    line-height: 1.4;
}

footer {
    position: relative;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 100px;
    height: 150px;
}

footer img {
    position: absolute; 
    bottom: 15px;  
    right: 10px;   
    width: 400px;  
    height: 170px;  
    z-index: 1; 
}