<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Movie Reviews</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">My Movie Reviews 🎥</a></h1>
        <nav>
            <a href="{% url 'create' %}">Add a New Review</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %} 
    </main>
</body>
</html>